.Header {
  text-align: center;
}

.inputContainer {
  display: flex;
  width: 80%;
  margin: 20px auto;
  justify-content: space-evenly;
}

.visualizationContainer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
